@{
    ViewData["Title"] = "Dashboard Home";
}

<center>
    <div>
        <a href=""><img src="images/img.jpg" alt="Your profile picture." style="border-radius:50%; width:15%; margin-left:5px; margin-right:5px; margin-top:20px"></a>
        <h1>Hello Firstname!</h1>
        <h3>What would you like to do today?</h3>
    </div>
</center>

<center>
    <div class="row" style="height:30%">
        <a class="btn btn-app" style="width:30%; height:50%" asp-area="" asp-controller="Home" asp-action="Upload"><i class="fa fa-upload"></i> UPLOAD A RECORDING </a>
        <a class="btn btn-app" style="width:30%; height:50%" asp-area="" asp-controller="Home" asp-action="Record"><i class="fa fa-video-camera"></i> RECORD A MEETING </a>
        <a class="btn btn-app" style="width:30%; height:50%" asp-area="" asp-controller="Home" asp-action="Transcripts"><i class="fa fa-file"></i> VIEW MY TRANSCRIPTS </a>
    </div>
</center>
<center>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Settings">
        <button type="button" class="btn btn-default btn-lg" style="width:90%;"><img src="images/img.jpg" alt="Skype logo." style="height:50px;" /> CONNECT TO SKYPE ACCOUNT</button>
        </a>
        <br>
    <a asp-area="" asp-controller="Home" asp-action="Settings">
        <button type="button" class="btn btn-default btn-lg" style="width:90%;"><img src="images/img.jpg" alt="OneNote logo." style="height:50px;" />   CONNECT TO ONENOTE ACCOUNT</button>
    </a>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Settings">
        <button type="button" class="btn btn-default btn-lg" style="width:90%;"><img src="images/img.jpg" alt="Outlook logo." style="height:50px;" />   CONNECT TO OUTLOOK ACCOUNT</button>
    </a>
</center>
