@{
    ViewBag.website = "Dashboard";
}
            <!-- page content -->
<div class="right_col" role="main" style="background:#e5edf9;">
    <h1>INSERT RECORDING STUFF HERE</h1>

        <div id="viz">
            <canvas id="analyser" width="1000" height="200"></canvas>
            <canvas id="wavedisplay" width="1000" height="200"></canvas>
        </div>
        <div id="controls">
            <img id="record" src="~/Scripts/Audio/img/mic128.png" onclick="toggleRecording(this)" style="height:20px;">
            <a id="save" href="#"><img src="~/Scripts/Audio/img/save.svg.png"  style="height:20px;"></a>
        </div>
</div>
<!-- /page content -->