@{
    ViewBag.website = "Dashboard";
}
            <!-- page content -->
<div class="right_col" role="main" style="background:#e5edf9; height:90%;">
    <div class="page-title">
        <div class="title_left">
            <h3>My Transcripts</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @{
            for (var i = 0; i < ViewBag.results.Count; i++)
            {
                var meeting = ViewBag.results[i].Item1;
                var recording = ViewBag.results[i].Item2;
                var transcript = ViewBag.results[i].Item3;
                var heading = "heading" + i;
                var collapse = "collapse" + i;
                var collapse2 = "#collapse" + i;
                var meetingTabName = "meeting" + i;
                var meetingTabName2 = "#meeting" + i;
                var recordingTabName = "recording" + i;
                var recordingTabName2 = "#recording" + i;
                var transcriptTabName = "transcript" + i;
                var transcriptTabName2 = "#transcript" + i;

                {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id=@heading>
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href=@collapse2>
                                    @meeting
                                </a>
                            </h4>
                        </div>
                        <div id=@collapse class="panel-collapse collapse" role="tabpanel" aria-labelledby=@heading>
                            <div class="panel-body">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href=@meetingTabName2 role="tab" data-toggle="tab">Meeting Information</a></li>
                                        <li role="presentation"><a href=@recordingTabName2 role="tab" data-toggle="tab">Recording</a></li>
                                        <li role="presentation"><a href=@transcriptTabName2 role="tab" data-toggle="tab">Transcript</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id=@meetingTabName>@meeting</div>
                                        <div role="tabpanel" class="tab-pane" id=@recordingTabName>
                                            @{
                                                foreach (var line in recording)
                                                {
                                                    <p>@line</p>
                                                }
                                            }
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id=@transcriptTabName>@transcript</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                                    }
                                                }
        }


    </div>
<!-- /page content -->