@{
    ViewBag.website = "Dashboard";
}


            <!-- page content -->
            <div class="right_col" role="main" style="background:#e5edf9; height:90%;">
                <center>
                    <div>
                        <a href=""><img src="~/Content/Dashboard/user-photo.jpg" alt="Your profile picture." style="border-radius:50%; width:15%; margin-left:5px; margin-right:5px; margin-top:20px"></a>
                        <h1>Hello @ViewBag.Name!</h1>
                        <h3>What would you like to do today?</h3>
                    </div>
                </center>
                <br />
                <br />

                <center>
                    <div class="row" style="height:30%">
                        <a class="btn btn-app" style="width:30%; height:50%; background:#ffffff;" asp-area="" asp-controller="Home" asp-action="Upload"><i class="fa fa-upload" style="color:#E8284D;"></i> <p style="font-size:25px">UPLOAD A RECORDING </p> </a>
                        <a class="btn btn-app" style="width:30%; height:50%; background:#ffffff;" asp-area="" asp-controller="Home" asp-action="Record"><i class="fa fa-video-camera" style="color:#E8284D;"></i><p style="font-size:25px"> RECORD A MEETING </p> </a>
                        <a class="btn btn-app" style="width:30%; height:50%; background:#ffffff;" asp-area="" asp-controller="Home" asp-action="Transcripts"><i class="fa fa-file" style="color:#E8284D;"></i> <p style="font-size:25px">VIEW MY TRANSCRIPTS </p> </a>
                    </div>
                </center>
                <center>
                    <br>
                    <a class="btn btn-app" style="width:93.5%; height:30%; background:#ffffff;" asp-area="" asp-controller="Home" asp-action="Settings"> <p style="font-size:25px"> <img src="~/Content/Dashboard/skype_logo.png" alt="Skype logo." style="height:30px;"     />&nbsp;&nbsp;&nbsp;CONNECT TO SKYPE ACCOUNT </p></a>
                    <br>
                    <a class="btn btn-app" style="width:93.5%; height:30%; background:#ffffff;" asp-area="" asp-controller="Home" asp-action="Settings"> <p style="font-size:25px"> <img src="~/Content/Dashboard/onenote_logo.png" alt="OneNote logo." style="height:30px;" />&nbsp;&nbsp;&nbsp;CONNECT TO ONENOTE ACCOUNT </p></a>
                    <br>
                    <a class="btn btn-app" style="width:93.5%; height:30%; background:#ffffff;" asp-area="" asp-controller="Home" asp-action="Settings"> <p style="font-size:25px"> <img src="~/Content/Dashboard/outlook_logo.png" alt="Outlook logo." style="height:30px;" />&nbsp;&nbsp;&nbsp;CONNECT TO OUTLOOK ACCOUNT </p></a>
                </center>
            </div>
            <!-- /page content -->
